<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- safari webapp -->
  <meta name="apple-mobile-web-app-title" content="jianjie.co">
  <link rel="apple-touch-icon" href="/apple-touch-icon-original.png">
  <link rel="apple-touch-icon" href="touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-180x180.png">
  <!-- seo -->
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="title" content="{{ site.title }} - {{ page.title }}">
  <meta name="keywords" content="{% for tag in page.tags %}{{ tag }},{% endfor %}">
  <meta property="og:title" content="{{ site.title }} - {{ page.title }}">
  <meta property="og:description" content="{{ page.content | strip_html | truncatewords: 50 }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jianjie_">
  <meta name="twitter:title" content="{{ site.title }} - {{ page.title }}">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 50 }}">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">

  <!-- google analytics -->
  <script>
    !function(J,I,A,N,j,i,e){J.GoogleAnalyticsObject=A;J[A]||(J[A]=function(){
    (J[A].q=J[A].q||[]).push(arguments)});J[A].l=+new Date;i=I.createElement(N);
    e=I.getElementsByTagName(N)[0];i.src=j;e.parentNode.insertBefore(i,e)}
    (window,document,'ga','script','//www.google-analytics.com/analytics.js');
    ga('create', '{{ site.googleAnalytics.trackingId }}', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container">
    {% include header.html %}
    {{ content }}
  </div>
</body>
</html>
