<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    // Don't force https when serving the website locally
    if (!(window.location.host.startsWith("127.0.0.1")) && (window.location.protocol != "https:"))
      window.location.protocol = "https";
  </script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% if page.title %}
      {{ site.title }} - {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>
  {% seo title=false %}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  
  <!-- google analytics -->
  <script>
    !function(J,I,A,N,j,i,e){J.GoogleAnalyticsObject=A;J[A]||(J[A]=function(){
    (J[A].q=J[A].q||[]).push(arguments)});J[A].l=+new Date;i=I.createElement(N);
    e=I.getElementsByTagName(N)[0];i.src=j;e.parentNode.insertBefore(i,e)}
    (window,document,'ga','script','//www.google-analytics.com/analytics.js');

    ga('create', '{{ site.googleAnalytics.trackingId }}', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="container">
    {% include header.html %}
    {{ content }}
  </div>
</body>
</html>
